<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User page</title>
</head>
<body>
    <form action="/user/" method="post">
        <input type="text" name="name" id="name" placeholder="Add name of user that you want to delete">

        <% if (error) { %>
            <p class="error-message"><%=error %></p>
        <% } %>

        <button type="submit" name="action" value="deleteUser">Delete</button>
    </form>
</body>
</html>